@page "/"

@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.JSInterop
@inject NavigationManager NavigationManager

<h1>Kids Id Kit</h1>

<div class="text-body">
    <p>Compliments of</p>
    <ul>
        <li><a href="https://missingchildrenmn.com" target="_blank">Missing Children Minnesota</a></li>
        <li><a href="https://htbox.org" target="_blank">Humanitarian Toolbox</a></li>
    </ul>
</div>
