@page "/"

<h1>Kids Id Kit</h1>

<div class="text-body">
<p></p>
<p>Compliments of 
  <ul>
      <li><a href="https://missingchildrenmn.com">Missing Children Minnesota</a> </li>
      <li><a href="https://htbox.org">Humanitarian Toolbox</a></li>
  </ul></p>
</div>
