@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.Forms

<div class="border border-3">
    <InputFile OnChange="FileSelected" />

    <div class="alert-danger">@errorText</div>
    @if (!string.IsNullOrEmpty(imageSource))
    {
        <img src="@imageSource" class="restricted-width" title="@fileName" alt="Photo of child" />
        <br />
        <button type="button" class="btn btn-primary" @onclick="UseFile">Use this image</button>
    }
    <button type="button" class="btn btn-secondary" @onclick="CancelChoice">Cancel</button>
</div>

@code 
{
    [Parameter]
    public EventCallback<string> Complete { get; set; }
    [Parameter]
    public EventCallback Cancel { get; set; }
    private string? imageSource;
    private string? errorText;
    private string? fileName;

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(Complete);
        ArgumentNullException.ThrowIfNull(Cancel);
    }

    private async Task FileSelected(InputFileChangeEventArgs e)
    {
        errorText = string.Empty;
        try
        {
            fileName = e.File.Name;
            var file = await e.File.RequestImageFileAsync(e.File.ContentType, 200, 200);
            using var stream = file.OpenReadStream();
            using var ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            imageSource = $"data:{file.ContentType};base64,{Convert.ToBase64String(ms.ToArray())}";
        }
        catch (Exception ex)
        {
            errorText = ex.Message;
        }
    }

    private async Task UseFile()
    {
        if (!string.IsNullOrEmpty(imageSource))
        {
            await Complete.InvokeAsync(imageSource);
        }
    }

    private async Task CancelChoice()
    {
        await Cancel.InvokeAsync();
    }
}