@page "/Family/{childId:int}/{familyid:int}"

@using System.ComponentModel.DataAnnotations;
@using KidsIdKit.Core.Data
@using KidsIdKit.Core.Services

@inject IFamilyStateService FamilyState
@inject NavigationManager NavigationManager

@inherits EditablePageBase<FamilyMember>

@{
    base.BuildRenderTree(__builder);
}
<ion-content class="ion-padding">
@{
    var editingObject = PageState.GetStateItem<Data.FamilyMember?>(EditingObjectState).Value;
    var editFormContext = PageState.GetStateItem<EditContext?>(EditContextState).Value;
}
<div class="alert-danger">@messageText</div>

    @if (CurrentChild == null || editingObject == null)
{
    <h2>Family Member</h2>
    <p>Loading...</p>
}
else
{
    <h2>@CurrentChild.FullName</h2>
    <p></p>
    <h3>Family Member</h3>
    <p></p>
    <EditForm Model="editingObject!" OnSubmit="SaveData" Context="editFormContext">
        <CascadingValue Value="this">
            @{
                PageState.SetStateItem<EditContext?>(EditContextState, editFormContext);
                SetEditContext(editFormContext);
            }
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ion-grid>
                <EditTextRow @bind-Value="editingObject!.GivenName" />
                <EditTextRow @bind-Value="editingObject!.NickName" />
                <EditTextRow @bind-Value="editingObject!.FamilyName" />
                <EditTextRow @bind-Value="editingObject!.Relation" />
                <EditTextRow @bind-Value="editingObject!.Address" />
                <EditTextRow @bind-Value="editingObject!.PhoneNumber" />
            </ion-grid>

            <ion-button expand="block" type="submit" color="secondary">
                <ion-icon slot="start" name="save"></ion-icon>
                Save
            </ion-button>
        </CascadingValue>
    </EditForm>
}
</ion-content>