@page "/Family/{childId:int}/{familyid:int}"

@using System.ComponentModel.DataAnnotations;
@using KidsIdKit.Core.Data
@using KidsIdKit.Core.Services

@inject IFamilyStateService FamilyState
@inject NavigationManager NavigationManager

@inherits PageBase

@{
    base.BuildRenderTree(__builder);
}
<ion-content class="ion-padding">
<div class="alert-danger">@messageText</div>

@if (CurrentChild == null || Family == null)
{
    <h2>Family Member</h2>
    <p>Loading...</p>
}
else
{
    <h2>@CurrentChild.FullName</h2>
    <p></p>
    <h3>Family Member</h3>
    <p></p>
    <EditForm Model="Family" OnSubmit="SaveData">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <ion-grid>
            <EditTextRow @bind-Value="Family.GivenName" />
            <EditTextRow @bind-Value="Family.NickName" />
            <EditTextRow @bind-Value="Family.FamilyName" />
            <EditTextRow @bind-Value="Family.Relation" />
            <EditTextRow @bind-Value="Family.Address" />
            <EditTextRow @bind-Value="Family.PhoneNumber" />
        </ion-grid>

        <ion-button expand="block" type="submit" color="success">
            <ion-icon slot="start" name="save"></ion-icon>
            Save
        </ion-button>
    </EditForm>
}
</ion-content>