@page "/Friend/{childId:int}/{friendId:int}"

@using System.ComponentModel.DataAnnotations;
@using KidsIdKit.Core.Data
@using KidsIdKit.Core.Services

@inject IFamilyStateService FamilyState
@inject NavigationManager NavigationManager

@inherits EditablePageBase<Data.Person>

@{
    base.BuildRenderTree(__builder);
}

<ion-content class="ion-padding">
@{
    var editingObject = PageState.GetStateItem<Data.Person?>(EditingObjectState).Value;
    var editFormContext = PageState.GetStateItem<EditContext?>(EditContextState).Value;
}
<div class="alert-danger">@messageText</div>

@if (CurrentChild == null || editingObject == null)
{
    <ion-spinner></ion-spinner>
    <p>Loading...</p>
}
else
{
    <ion-text><h2>@CurrentChild.FullName</h2></ion-text>
    <ion-text><h3>Friend</h3></ion-text>

    <EditForm id="childFriendDetailsForm" Model="editingObject" OnSubmit="SaveData" Context="editFormContext">
        <CascadingValue Value="this">
            @{
                PageState.SetStateItem<EditContext?>(EditContextState, editFormContext);
                SetEditContext(editFormContext);
            }
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ion-grid>
                <EditTextRow @bind-Value="editingObject!.GivenName" />
                <EditTextRow @bind-Value="editingObject!.FamilyName" />
                <EditTextRow @bind-Value="editingObject!.NickName" />
                <TextAreaRow @bind-Value="editingObject!.Address" />
                <EditTextRow @bind-Value="editingObject!.PhoneNumber" />
            </ion-grid>
        </CascadingValue>
    </EditForm>
    <div class="floating-button-spacer"></div>
    <div class="ion-padding" slot="fixed" style="bottom: 20px;left:5px;right:5px">
        <ion-button expand="block" type="submit" form="childFriendDetailsForm" color="secondary">
            <ion-icon slot="start" name="save"></ion-icon>
            Save
        </ion-button>
    </div>
}
</ion-content>