@page "/Friend/{childId:int}/{friendId:int}"

@using System.ComponentModel.DataAnnotations;
@using KidsIdKit.Core.Data
@using KidsIdKit.Core.Services

@inject IFamilyStateService FamilyState
@inject NavigationManager NavigationManager

@inherits PageBase

@{
    base.BuildRenderTree(__builder);
}

<ion-content class="ion-padding">

<div class="alert-danger">@messageText</div>

@if (CurrentChild == null || Friend == null)
{
    <ion-spinner></ion-spinner>
    <p>Loading...</p>
}
else
{
    <ion-text><h2>@CurrentChild.FullName</h2></ion-text>
    <ion-text><h3>Friend</h3></ion-text>

    <EditForm Model="Friend" OnSubmit="SaveData">
        <DataAnnotationsValidator />

        <ValidationSummary />

        <ion-grid>
            <EditTextRow @bind-Value="Friend.GivenName" />
            <EditTextRow @bind-Value="Friend.NickName" />
            <EditTextRow @bind-Value="Friend.FamilyName" />
            <EditTextRow @bind-Value="Friend.Address" />
            <EditTextRow @bind-Value="Friend.PhoneNumber" />
        </ion-grid>

        <div class="ion-padding">
            <ion-button expand="block" type="submit" color="secondary">
                <ion-icon slot="start" name="save"></ion-icon>
                Save
            </ion-button>
        </div>
    </EditForm>
}
</ion-content>