@page "/childDetails/{Id:int}"

@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;

@inject IDataAccess dal

@inherits DetailsPage<Data.ChildDetails>

@{
base.BuildRenderTree(__builder);
}

<ion-content class="ion-padding">
@{
    var editingObject = PageState.GetStateItem<Data.ChildDetails?>(EditingObjectState).Value;
    var editFormContext = PageState.GetStateItem<EditContext?>(EditContextState).Value;
    var messageText = PageState.GetStateItem<string?>(MessageTextState).Value;
}
    @if (!string.IsNullOrWhiteSpace(messageText))
    {
        <ion-card color="danger">
            <ion-card-content>
                <ion-text color="light">
                    @messageText
                </ion-text>
            </ion-card-content>
        </ion-card>
    }

    @if (editingObject == null)
    {
        <ion-spinner></ion-spinner>
        <p>Loading...</p>
    }
    else
    {
        <ion-card>
            <ion-card-header>
                <ion-card-title>@editingObject.FullName</ion-card-title>
            </ion-card-header>
        </ion-card>

        <EditForm id="childDetailsForm" Model="editingObject" OnSubmit="SaveData" Context="editFormContext">
            <CascadingValue Value="this">
                @{
                    PageState.SetStateItem<EditContext?>(EditContextState, editFormContext);
                    SetEditContext(editFormContext);
                }
                <DataAnnotationsValidator />
                <ValidationSummary />

                <ion-grid>
                    <EditTextRow @bind-Value="editingObject!.GivenName" />
                    <EditTextRow @bind-Value="editingObject!.MiddleName" />
                    <EditTextRow @bind-Value="editingObject!.FamilyName" />
                    <EditTextRow @bind-Value="editingObject!.NickName" />
                    <EditTextRow @bind-Value="editingObject!.AdditionalName" />
                    <EditDateRow @bind-Value="editingObject!.Birthday" />
                    <EditTextRow @bind-Value="editingObject!.PhoneNumber" />
                </ion-grid>

                <PhotoPicker @bind-Photo="editingObject!.Photo"
                             @bind-IsSelecting="SelectingImage"
                             AltText="Photo of child" />
            </CascadingValue>
        </EditForm>

        @if (!SelectingImage)
        {
        <div class="floating-button-spacer"></div>
        <div class="ion-padding" slot="fixed" style="bottom: 20px;left:5px;right:5px">
            <ion-button expand="block" type="submit" form="childDetailsForm" color="secondary">
                <ion-icon slot="start" name="save"></ion-icon>
                Save
            </ion-button>
        </div>
        }
    }
</ion-content>