@page "/childMedicalNotes/{id:int}"

@inherits DetailsPage

@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;

@inject IDataAccess dal

@{
    base.BuildRenderTree(__builder);
}

<ion-content class="ion-padding">

@if (CurrentChild == null || MedicalNotes == null)
{
    <ion-spinner></ion-spinner>
    <p>Loading...</p>
}
else
{
    <ion-card>
        <ion-card-header>
            <ion-card-title>@CurrentChild.FullName</ion-card-title>
        </ion-card-header>
    </ion-card>

    <EditForm Model="MedicalNotes" OnSubmit="SaveData">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <ion-grid>
            <EditTextRow @bind-Value="MedicalNotes.MedicAlertInfo" />
            <EditTextRow @bind-Value="MedicalNotes.Allergies" />
            <EditTextRow @bind-Value="MedicalNotes.RegularMedications" />
            <EditTextRow @bind-Value="MedicalNotes.PsychMedications" />
            <EditTextRow @bind-Value="MedicalNotes.Notes" />
            <EditBoolRow @bind-Value="MedicalNotes.Inhaler" />
            <EditBoolRow @bind-Value="MedicalNotes.Diabetic" />
        </ion-grid>

        <div class="ion-padding">
            <ion-button expand="block" type="submit" color="secondary">
                <ion-icon slot="start" name="save"></ion-icon>
                Save
            </ion-button>
        </div>
    </EditForm>
}
</ion-content>
