@page "/childPhysicalDetails/{id:int}"

@inherits DetailsPage<Data.PhysicalDetails>

@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;

@inject IDataAccess dal
@{
    base.BuildRenderTree(__builder);
}
<ion-content class="ion-padding">
@{
    var editingObject = PageState.GetStateItem<Data.PhysicalDetails?>(EditingObjectState).Value;
    var editFormContext = PageState.GetStateItem<EditContext?>(EditContextState).Value;
    var messageText = PageState.GetStateItem<string?>(MessageTextState).Value;
}
    <div class="alert-danger">@messageText</div>

@if (CurrentChild == null || editingObject == null)
{
    <ion-spinner></ion-spinner>
    <p>Loading...</p>
}
else
{
    <ion-card>
        <ion-card-header>
            <ion-card-title>@CurrentChild.FullName</ion-card-title>
        </ion-card-header>
    </ion-card>

    <EditForm Model="editingObject" OnSubmit="SaveData" Context="editFormContext">
        <CascadingValue Value="this">
            @{
                PageState.SetStateItem<EditContext?>(EditContextState, editFormContext);
                SetEditContext(editFormContext);
            }
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ion-grid>
                <EditDateRow @bind-Value="editingObject!.MeasurementDate" />
                <EditTextRow @bind-Value="editingObject!.Height" />
                <EditTextRow @bind-Value="editingObject!.HairColor" />
                <EditTextRow @bind-Value="editingObject!.HairStyle" />
                <EditTextRow @bind-Value="editingObject!.EyeColor" />
                <EditBoolRow @bind-Value="editingObject!.EyeContacts" />
                <EditBoolRow @bind-Value="editingObject!.EyeGlasses" />
                <EditTextRow @bind-Value="editingObject!.SkinTone" />
                <EditTextRow @bind-Value="editingObject!.RacialEthnicIdentity" />
                <EditTextRow @bind-Value="editingObject!.Sex" />
                <EditTextRow @bind-Value="editingObject!.GenderIdentity" />
            </ion-grid>

            <div class="ion-padding">
                <ion-button expand="block" type="submit" color="secondary">
                    <ion-icon slot="start" name="save"></ion-icon>
                    Save
                </ion-button>
            </div>
        </CascadingValue>
    </EditForm>
}
</ion-content>
