@page "/childPhysicalDetails/{id:int}"

@inherits DetailsPage<Data.PhysicalDetails>

@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;

@inject IDataAccess dal
@{
    base.BuildRenderTree(__builder);
}
<ion-content class="ion-padding">
    <div class="alert-danger">@messageText</div>

@if (CurrentChild == null || EditingObject == null)
{
    <ion-spinner></ion-spinner>
    <p>Loading...</p>
}
else
{
    <ion-card>
        <ion-card-header>
            <ion-card-title>@CurrentChild.FullName</ion-card-title>
        </ion-card-header>
    </ion-card>

    <EditForm Model="EditingObject" OnSubmit="SaveData" Context="editFormContext">
        <CascadingValue Value="this">
            @{
                SetEditContext(editFormContext);
            }
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ion-grid>
                <EditDateRow @bind-Value="EditingObject!.MeasurementDate" />
                <EditTextRow @bind-Value="EditingObject!.Height" />
                <EditTextRow @bind-Value="EditingObject!.HairColor" />
                <EditTextRow @bind-Value="EditingObject!.HairStyle" />
                <EditTextRow @bind-Value="EditingObject!.EyeColor" />
                <EditBoolRow @bind-Value="EditingObject!.EyeContacts" />
                <EditBoolRow @bind-Value="EditingObject!.EyeGlasses" />
                <EditTextRow @bind-Value="EditingObject!.SkinTone" />
                <EditTextRow @bind-Value="EditingObject!.RacialEthnicIdentity" />
                <EditTextRow @bind-Value="EditingObject!.Sex" />
                <EditTextRow @bind-Value="EditingObject!.GenderIdentity" />
            </ion-grid>

            <div class="ion-padding">
                <ion-button expand="block" type="submit" color="secondary">
                    <ion-icon slot="start" name="save"></ion-icon>
                    Save
                </ion-button>
            </div>
        </CascadingValue>
    </EditForm>
}
</ion-content>
