@page "/childPhysicalDetails/{id:int}"

@inherits DetailsPage

@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;

@inject IDataAccess dal
@{
    base.BuildRenderTree(__builder);
}
<ion-content class="ion-padding">
    <div class="alert-danger">@messageText</div>

@if (CurrentChild == null || Details == null)
{
    <ion-spinner></ion-spinner>
    <p>Loading...</p>
}
else
{
    <ion-card>
        <ion-card-header>
            <ion-card-title>@CurrentChild.FullName</ion-card-title>
        </ion-card-header>
    </ion-card>

    <EditForm Model="Details" OnSubmit="SaveData">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <ion-grid>
            <EditDateRow @bind-Value="Details.MeasurementDate" />
            <EditTextRow @bind-Value="Details.Height" />
            <EditTextRow @bind-Value="Details.HairColor" />
            <EditTextRow @bind-Value="Details.HairStyle" />
            <EditTextRow @bind-Value="Details.EyeColor" />
            <EditBoolRow @bind-Value="Details.EyeContacts" />
            <EditBoolRow @bind-Value="Details.EyeGlasses" />
            <EditTextRow @bind-Value="Details.SkinTone" />
            <EditTextRow @bind-Value="Details.RacialEthnicIdentity" />
            <EditTextRow @bind-Value="Details.Sex" />
            <EditTextRow @bind-Value="Details.GenderIdentity" />
        </ion-grid>

        <div class="ion-padding">
            <ion-button expand="block" type="submit" color="secondary">
                <ion-icon slot="start" name="save"></ion-icon>
                Save
            </ion-button>
        </div>
    </EditForm>
}
</ion-content>
