@page "/Child/{id:int}"

@using KidsIdKit.Core.Services

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IFileSaverService FileSaverService
@inject IFileSharerService FileSharerService
@inject IFamilyStateService FamilyState

@if (CurrentChild == null)
{
    <h2>Child Information</h2>
    <p>Loading...</p>
}
else
{
    <h2>@CurrentChild.ChildDetails.FullName</h2>
    <p>
        <ul id="vertically-spaced-links-in-a-list">
            <li><a href="/childDetails/@Id">Child details</a></li>
            <li><a href="/childPhysicalDetails/@Id">Physical details</a></li>
            <li><a href="/childDistinguishingFeatures/@Id">Distinguishing features</a></li>
            <li><a href="/childSocialMediaAccounts/@Id">Social Media</a></li>
            <li><a href="/childFamilyMembers/@Id">Family members</a></li>
            <li><a href="/childFriends/@Id">Friends</a></li>
            <li><a href="/childCareProviders/@Id">Care providers</a></li>
            <li><a href="/childMedicalNotes/@Id">Medical notes</a></li>
        </ul>
    </p>

    @if (!string.IsNullOrWhiteSpace(CurrentChild.ChildDetails.GivenName) && CurrentChild.ChildDetails.GivenName != "<new>")
    {
        <div>
@*             <button type="button"
                    @onclick="@(() => NavigationManager.NavigateTo($"/"))"
                    title="Back"
                    class="btn-back">
                <i class="fas fa-chevron-left" />
            </button>

            <button type="button"
                    @onclick="GenerateAndDownloadPdf"
                    class="btn-icon"
                    title="Generate and Download PDF">
                <i class="fas fa-print" />
            </button>

            <button type="button"
                    @onclick="GenerateAndDownloadPdf"
                    class="btn-icon"
                    title="Generate and Download PDF">
                @ImageContent
            </button>
 *@

            <button type="button"
                    @onclick="SendAllInfo"
                    class="btn-icon"
                    title="Send All Information">
                Send All Information
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </div>
    }
}
