@page "/Child/{id:int}"
@* @layout KidsIdKit.Core.SharedComponents.ProtectedLayout *@

@using KidsIdKit.Core.Services

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IFileSaverService FileSaverService
@inject IFileSharerService FileSharerService
@inject IFamilyStateService FamilyState

<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button size="small" style="--box-shadow: none" @onclick="NavigateBack">
                <ion-back-button default-href="/"></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-title>Child Information</ion-title>
        <ion-buttons slot="end">
            <ion-button size="small" style="--box-shadow: none">
                <ion-menu-button></ion-menu-button>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
@if (CurrentChild == null)
{
    <ion-card>
        <ion-card-content class="ion-text-center">
            <ion-spinner></ion-spinner>
            <p>Loading...</p>
        </ion-card-content>
    </ion-card>
}
else
{
    <ion-card>
        <ion-card-header>
            <ion-card-title>@CurrentChild.ChildDetails.FullName</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-list>
        <ion-item button href="/childDetails/@Id">
            <ion-label>Child details</ion-label>
        </ion-item>
        <ion-item button href="/childPhysicalDetails/@Id">
            <ion-label>Physical details</ion-label>
        </ion-item>
        <ion-item button href="/childDistinguishingFeatures/@Id">
            <ion-label>Distinguishing features</ion-label>
        </ion-item>
        <ion-item button href="/childSocialMediaAccounts/@Id">
            <ion-label>Social Media</ion-label>
        </ion-item>
        <ion-item button href="/childFamilyMembers/@Id">
            <ion-label>Family members</ion-label>
        </ion-item>
        <ion-item button href="/childFriends/@Id">
            <ion-label>Friends</ion-label>
        </ion-item>
        <ion-item button href="/childCareProviders/@Id">
            <ion-label>Care providers</ion-label>
        </ion-item>
        <ion-item button href="/childMedicalNotes/@Id">
            <ion-label>Medical notes</ion-label>
        </ion-item>
    </ion-list>

    @if (!string.IsNullOrWhiteSpace(CurrentChild.ChildDetails.GivenName) && CurrentChild.ChildDetails.GivenName != "<new>")
    {
        <div class="ion-padding">
            <ion-button expand="block" @onclick="SendAllInfo" color="primary">
                <ion-icon slot="start" name="send"></ion-icon>
                Send All Information
            </ion-button>
        </div>
    }
}
</ion-content>