@page "/childPhysicalDetails/{id:int}"
@* @layout KidsIdKit.Core.SharedComponents.ProtectedLayout *@

@inherits DetailsPage

@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;

@inject IDataAccess dal
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="alert-danger">@messageText</div>
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button size="small" style="--box-shadow: none" @onclick="NavigateBack">
                <ion-back-button default-href="/"></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-title>@PageTitle</ion-title>
        <ion-buttons slot="end">
            <ion-button size="small" style="--box-shadow: none">
                <ion-menu-button></ion-menu-button>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

@if (CurrentChild == null || Details == null)
{
    <ion-spinner></ion-spinner>
    <p>Loading...</p>
}
else
{
    <h2>@CurrentChild.FullName</h2>
    <p></p>
    <EditForm Model="Details" OnSubmit="SaveData">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <ion-grid>
            <EditDateRow @bind-Value="Details.MeasurementDate" />
            <EditTextRow @bind-Value="Details.Height" />
            <EditTextRow @bind-Value="Details.HairColor" />
            <EditTextRow @bind-Value="Details.HairStyle" />
            <EditTextRow @bind-Value="Details.EyeColor" />
            <EditBoolRow @bind-Value="Details.EyeContacts" />
            <EditBoolRow @bind-Value="Details.EyeGlasses" />
            <EditTextRow @bind-Value="Details.SkinTone" />
            <EditTextRow @bind-Value="Details.RacialEthnicIdentity" />
            <EditTextRow @bind-Value="Details.Sex" />
            <EditTextRow @bind-Value="Details.GenderIdentity" />
        </ion-grid>

        <div class="ion-padding">
            <ion-button expand="block" type="submit" color="success">
                <ion-icon slot="start" name="save"></ion-icon>
                Save
            </ion-button>
        </div>
    </EditForm>
}
</ion-content>
