@page "/childMedicalNotes/{id:int}"

@inherits DetailsPage<Data.MedicalNotes>

@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;

@inject IDataAccess dal

@{
    base.BuildRenderTree(__builder);
}

<ion-content class="ion-padding">
@{
        var editingObject = PageState.GetStateItem<Data.MedicalNotes>(EditingObjectState).Value;
    var editFormContext = PageState.GetStateItem<EditContext>(EditContextState).Value;
}

@if (CurrentChild == null || editingObject == null)
{
    <ion-spinner></ion-spinner>
    <p>Loading...</p>
}
else
{
    <ion-card>
        <ion-card-header>
            <ion-card-title>@CurrentChild.FullName</ion-card-title>
        </ion-card-header>
    </ion-card>

    <EditForm Model="editingObject" OnSubmit="SaveData" Context="editFormContext">
        <CascadingValue Value="this">
            @{
                SetEditContext(editFormContext);
            }
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ion-grid>
                <EditTextRow @bind-Value="editingObject!.MedicAlertInfo" />
                <EditTextRow @bind-Value="editingObject!.Allergies" />
                <EditTextRow @bind-Value="editingObject!.RegularMedications" />
                <EditTextRow @bind-Value="editingObject!.PsychMedications" />
                <EditTextRow @bind-Value="editingObject!.Notes" />
                <EditBoolRow @bind-Value="editingObject!.Inhaler" />
                <EditBoolRow @bind-Value="editingObject!.Diabetic" />
            </ion-grid>

            <div class="ion-padding">
                <ion-button expand="block" type="submit" color="secondary">
                    <ion-icon slot="start" name="save"></ion-icon>
                    Save
                </ion-button>
            </div>
        </CascadingValue>
    </EditForm>
}
</ion-content>
