@page "/childDetails/{Id:int}"

@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;

@inject IDataAccess dal

@inherits DetailsPage<Data.ChildDetails>

@{
base.BuildRenderTree(__builder);
}

<ion-content class="ion-padding">
    @if (!string.IsNullOrWhiteSpace(messageText))
    {
        <ion-card color="danger">
            <ion-card-content>
                <ion-text color="light">
                    @messageText
                </ion-text>
            </ion-card-content>
        </ion-card>
    }

    @if (EditingObject == null)
    {
        <ion-spinner></ion-spinner>
        <p>Loading...</p>
    }
    else
    {
        <ion-card>
            <ion-card-header>
                <ion-card-title>@EditingObject.FullName</ion-card-title>
            </ion-card-header>
        </ion-card>

        bool photoExists = !string.IsNullOrWhiteSpace(EditingObject.Photo.ImageSource);

        <EditForm Model="EditingObject" OnSubmit="SaveData" Context="editFormContext">
            <CascadingValue Value="this">
                @{
                    SetEditContext(editFormContext);
                }
                <DataAnnotationsValidator />
                <ValidationSummary />

                <ion-grid>
                    <EditTextRow @bind-Value="EditingObject!.GivenName" />
                    <EditTextRow @bind-Value="EditingObject!.NickName" />
                    <EditTextRow @bind-Value="EditingObject!.AdditionalName" />
                    <EditTextRow @bind-Value="EditingObject!.MiddleName" />
                    <EditTextRow @bind-Value="EditingObject!.FamilyName" />
                    <EditDateRow @bind-Value="EditingObject!.Birthday" />
                    <EditTextRow @bind-Value="EditingObject!.PhoneNumber" />
                </ion-grid>

                <ion-list>
                    <ion-list-header>
                        <ion-label>Photo</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-label>
                            @if (SelectingImage)
                            {
                                <p>Selecting photo...</p>
                            }
                            else
                            {
                                <p>@(photoExists ? "Photo selected" : "No photo selected")</p>
                            }
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <div class="ion-margin">
                            @if (!SelectingImage)
                            {
                                <ion-button expand="block" fill="outline" @onclick="() => SelectingImage = true">
                                    <ion-icon slot="start" name="@(photoExists ? "create" : "add-circle")"></ion-icon>
                                    @(photoExists ? "Change" : "Add") photo
                                </ion-button>
                            }
                        </div>
                    </ion-item>
                    @if (SelectingImage)
                    {
                        <ion-item>
                            <PhotoPicker Complete="(selectedPhoto) =>   {
                                                                            EditingObject!.Photo = selectedPhoto;
                                                                            SelectingImage = false;
                                                                        }"
                                         Cancel="() => SelectingImage = false" />
                        </ion-item>
                    }
                    else if (photoExists)
                    {
                        <ion-item>
                            <div class="ion-margin">
                                <ion-img src="@EditingObject!.Photo.ImageSource" 
                                        alt="Photo of child"
                                        style="max-width: 100%; height: auto; border-radius: 8px;"></ion-img>
                            </div>
                        </ion-item>
                    }
                </ion-list>

                <div class="ion-padding">
                    @if (!SelectingImage)
                    {
                        <ion-button expand="block" type="submit" color="secondary">
                            <ion-icon slot="start" name="save"></ion-icon>
                            Save
                        </ion-button>
                    }
                </div>
            </CascadingValue>
        </EditForm>
    }
</ion-content>