@page "/ChildRemove/{id:int}"

@using KidsIdKit.Core.Services

@inject IFamilyStateService FamilyState
@inject NavigationManager navigationManager

@if (CurrentChild == null)
{
    <h2>Child Details</h2>
    <p>Loading...</p>
}
else
{
    <h4><a href="/Child/@id">@CurrentChild.ChildDetails.GivenName @CurrentChild.ChildDetails.FamilyName</a></h4>

    <div>Are you sure you want to remove this child from the app?</div>

    <div style="margin-top:10px">
        <button class="btn btn-primary" @onclick="NoCancel">No</button>
        <button class="btn btn-danger" @onclick="YesRemove">Yes</button>
    </div>
}

@code {
    [Parameter]
    public int id { get; set; }
    KidsIdKit.Core.Data.Child? CurrentChild;

    protected override void OnParametersSet()
    {
        CurrentChild = FamilyState.GetChild(id);
    }

    private async Task YesRemove()
    {
        if (FamilyState.Family != null && CurrentChild != null)
        {
            FamilyState.Family.Children.Remove(CurrentChild);
            await FamilyState.SaveAsync();
        }
        navigationManager.NavigateTo("/");
    }

    private void NoCancel()
    {
        navigationManager.NavigateTo("/");
    }
}
