@using System.Linq.Expressions;
@using System.Reflection;
@using System.ComponentModel.DataAnnotations;

@inherits InputBase<bool>

<tr>
  <td>@Label:</td>
  <td><EditBool @bind-Value="@CurrentValue" /></td>
</tr>

@code {
#nullable enable
  public string? Label { get; set; }

  protected override void OnParametersSet() 
  {
    var model = EditContext.Model;
    var propertyName = FieldIdentifier.FieldName;
        var pinfo = model.GetType().GetProperty(propertyName);  // TODO: replace all 'pinfo' with 'propertyInfo'
    var attribute = pinfo?.GetCustomAttribute(typeof(DisplayAttribute)) as DisplayAttribute;
    Label = attribute?.Name ?? FieldIdentifier.FieldName;
  }

  protected override bool TryParseValueFromString(string? value, out bool result, out string validationErrorMessage) 
  {
    if (Boolean.TryParse(value, out result))
    {
      validationErrorMessage = string.Empty;
      return true;
    }
    else
    {
      validationErrorMessage = "Value must be a date";
      return false;
    }
  }
}
