@page "/CareProvider/{ChildId:int}/{careId:int}"

@using System.ComponentModel.DataAnnotations;
@using KidsIdKit.Core.Data
@using KidsIdKit.Core.Services

@inject IFamilyStateService FamilyState
@inject NavigationManager NavigationManager

@if (CurrentChild == null || CareProvider == null)
{
    <h2>Care Provider</h2>
    <p>Loading...</p>
}
else
{
    <h2>@CurrentChild.FullName</h2>
    <p></p>
    <h3>Care Provider</h3>
    <p></p>
    <EditForm Model="CareProvider" OnSubmit="SaveData">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <table>
            <EditTextRow @bind-Value="CareProvider.ClinicName" />
            <EditTextRow @bind-Value="CareProvider.Address" />
            <EditTextRow @bind-Value="CareProvider.PhoneNumber" />
            <EditTextRow @bind-Value="CareProvider.CareRoleDescription" />
            <EditTextRow @bind-Value="CareProvider.GivenName" />
            <EditTextRow @bind-Value="CareProvider.NickName" />
            <EditTextRow @bind-Value="CareProvider.FamilyName" />
        </table>
        <div>
            <button type="button" class="btn-back" @onclick="@(() => NavigationManager.NavigateTo($"/childCareProviders/{childId}"))"><i class="fas fa-chevron-left" /></button>
            <button type="submit" class="btn-save" title="Save"><i class="fas fa-save" /></button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int childId { get; set; }

    [Parameter]
    public int careId { get; set; }

    ChildDetails? CurrentChild;
    CareProvider? CareProvider;

    protected override void OnInitialized()
    {
        var child = FamilyState.GetChild(childId);
        if (child != null)
        {
            CurrentChild = child.ChildDetails;

            if (careId == -1)
            {
                CareProvider = new CareProvider();
                CareProvider.Id = child.ProfessionalCareProviders.Count == 0
                    ? 0
                    : child.ProfessionalCareProviders.Max(r => r.Id) + 1;
            }
            else if (careId >= 0 && careId < child.ProfessionalCareProviders.Count)
            {
                CareProvider = child.ProfessionalCareProviders[careId];
            }
        }
    }

    private async Task SaveData()
    {
        try
        {
            var child = FamilyState.GetChild(childId);
            if (child != null && CareProvider is not null)
            {
                if (careId == -1)
                {
                    child.ProfessionalCareProviders.Add(CareProvider);
                }
                await FamilyState.SaveAsync();
            }
            NavigationManager.NavigateTo($"/childCareProviders/{childId}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.ToString());
        }
    }
}
