@page "/About"

<h3>About</h3>

<section>
    <i>
        The Kids Id Kit app allows parents to maintain a digital record of their kids' information; it is a simple app that allows parents to add and maintain information
        about their kids. It also provides helpful links to resources that parents can use to help keep their kids safe.
    </i>
</section>

<br />

<ul id="inline-links-in-a-list">
    <li>
        Click on the <a href="/">Kids</a> tab to enter, edit, and/or simply view information about your kids.
    </li>

    <li>
        Click on the <a href="/information">Information</a> tab to see helpful links to resources that parents can use to help keep your kids safe.
    </li>
</ul>
