@page "/SocialMediaAccount/{childId:int}/{socialMediaAccountId:int}"

@using System.ComponentModel.DataAnnotations;

@inherits PageBase

@{
base.BuildRenderTree(__builder);
}

<ion-content class="ion-padding">
<div class="alert-danger">@messageText</div>

@if (CurrentChild == null || SocialMediaAccount == null)
{
    <ion-spinner></ion-spinner>
    <p>Loading...</p>
}
else
{
    <ion-text><h2>@CurrentChild.FullName</h2></ion-text>
    <ion-text><h3>Social Media Account</h3></ion-text>

    <EditForm Model="SocialMediaAccount" OnSubmit="SaveData">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <ion-grid>
            <EditTextRow @bind-Value="SocialMediaAccount.Platform" />
            <EditTextRow @bind-Value="SocialMediaAccount.UserName" />
            <EditTextRow @bind-Value="SocialMediaAccount.Password" IsPassword="true" />
        </ion-grid>

        <div class="ion-padding">
            <ion-button expand="block" type="submit" color="secondary">
                <ion-icon slot="start" name="save"></ion-icon>
                Save
            </ion-button>
        </div>
    </EditForm>
}
</ion-content>
