@page "/Feature/{childId:int}/{featureId:int}"

@using System.ComponentModel.DataAnnotations;

@inherits EditablePageBase<DistinguishingFeature>

@{
    base.BuildRenderTree(__builder);
}
<ion-content class="ion-padding">
@{
    var editingObject = PageState.GetStateItem<Data.DistinguishingFeature?>(EditingObjectState).Value;
    var editFormContext = PageState.GetStateItem<EditContext?>(EditContextState).Value;
}

<div class="alert-danger">@messageText</div>

@if (CurrentChild == null || editingObject == null)
{
    <h2>@PageTitle</h2>
    <p>Loading...</p>
}
else
{
    <h2>@CurrentChild.FullName</h2>
    <p></p>
    <h3>@PageTitle</h3>
    <p></p>

    <EditForm id="childDistinguishingFeaturesForm" Model="editingObject!" OnSubmit="SaveData" Context="editFormContext">
        <CascadingValue Value="this">
        @{
            PageState.SetStateItem<EditContext?>(EditContextState, editFormContext);
            SetEditContext(editFormContext);
        }
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ion-grid>
                <EditTextRow @bind-Value="editingObject!.Description" />
            </ion-grid>
            <PhotoPicker @bind-Photo="editingObject!.Photo"
                         @bind-IsSelecting="SelectingImage"
                         AltText="Photo of child" />
        </CascadingValue>
    </EditForm>
    <div style="height:50px;min-height:60px"></div>
    <div class="ion-padding" slot="fixed" style="bottom: 20px;left:5px;right:5px">
        <ion-button expand="block" type="submit" form="childDistinguishingFeaturesForm" color="secondary">
            <ion-icon slot="start" name="save"></ion-icon>
            Save
        </ion-button>
    </div>
}
</ion-content>