@page "/Friend/{id:int}/{friendid:int}"
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@inject Data.IDataAccess dal
@inject NavigationManager navigationManager


@if (CurrentChild == null || Friend == null)
{
    <h2>Friend</h2>
    <p>Loading...</p>
}
else
{
    <h2><a href="/Child/@id">@CurrentChild.GivenName</a></h2>
    <p></p>
    <h3>Friend Details</h3>
    <p></p>
    <EditForm Model="Friend" OnSubmit="SaveData">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <table>
            <EditTextRow @bind-Value="Friend.GivenName" />
            <EditTextRow @bind-Value="Friend.NickName" />
            <EditTextRow @bind-Value="Friend.FamilyName" />
            <EditTextRow @bind-Value="Friend.Address" />
            <EditTextRow @bind-Value="Friend.PhoneNumber" />
        </table>
        <p></p>
        <div>
            <button type="button" class="btn btn-light" style="margin-right:20px"><a href="/childFriends/@id"> Back</a></button>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int id { get; set; }
    [Parameter]
    public int friendid { get; set; }

    Data.ChildDetails? CurrentChild;
    Data.Person? Friend;

    protected override void OnInitialized()
    {
        CurrentChild = Main.Family.Children[id].ChildDetails;

        if (friendid == -1)
        {
            Friend = new Data.Person();
            if (Main.Family is not null)
            {
                if (Main.Family.Children[id].Friends.Count == 0)
                {
                    Friend.Id = 0;
                }
                else
                {
                    Friend.Id = Main.Family.Children[id].Friends.Max(r => r.Id) + 1;
                }
            }
        }
        else
        {
            if (Main.Family is not null)
                Friend = Main.Family.Children[id].Friends[friendid];
        }
    }

    private void SaveData()
    {
        try
        {
            if (Main.Family is not null)
            {
                if (friendid == -1)
                {
                    Main.Family.Children[id].Friends.Add(Friend);
                }
                dal.SaveData(Main.Family);
            }

            navigationManager.NavigateTo($"/childFriends/{id}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.ToString());
        }
    }
}
