@page "/childDetails/{id:int}"
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@inject Data.IDataAccess dal
@inject NavigationManager navigationManager

@if (CurrentChild == null) {
  <h2>Contact Details</h2>
  <p>Loading...</p>
}
else {
  <h2>@CurrentChild.GivenName</h2>
  <EditForm Model="CurrentChild" OnSubmit="SaveData">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <table>
      <tr>
        <td><label>@GetDisplayName(() => CurrentChild.GivenName):</label></td>
        <td><InputText id="givenName" @bind-Value="CurrentChild.GivenName" /></td>
      </tr>
      <tr>
        <td><label>Nickname:</label></td>
        <td><EditText id="nickName" @bind-Value="CurrentChild.NickName" /></td>
      </tr>
      <EditTextRow Label="@GetDisplayName(() => CurrentChild.AdditionalName)" @bind-Value="CurrentChild.AdditionalName" />
      <tr>
        <td><label>Family name:</label></td>
        <td><InputText id="familyName" @bind-Value="CurrentChild.FamilyName" /></td>
      </tr>
      <tr>
        <td><label>Birth date:</label></td>
        <td><InputDate id="birthDate" @bind-Value="CurrentChild.Birthday" /></td>
      </tr>
      <tr>
        <td><label>Phone number:</label></td>
        <td><InputText id="phoneNumber" @bind-Value="CurrentChild.PhoneNumber" /></td>
      </tr>
    </table>
    <button class="btn btn-primary" type="submit">Save</button>
  </EditForm>
}

@code {
  [Parameter]
  public int id { get; set; }
  Data.ChildDetails CurrentChild;

  protected override void OnParametersSet() {
    CurrentChild = Main.Family.Children[id].ChildDetails;
  }

  private void SaveData() {
    dal.SaveData(Main.Family);
    navigationManager.NavigateTo("/kids");
  }

  private string GetDisplayName(Expression<Func<object>> expression) {
    var property = (MemberExpression)expression.Body;
    var attribute = property.Member.GetCustomAttribute(typeof(DisplayAttribute)) as DisplayAttribute;
    return attribute?.Name ?? property.Member.Name;
  }
}
