@page "/childFriends/{id:int}"
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@inject Data.IDataAccess dal
@inject NavigationManager navigationManager

@if (CurrentChild == null || Friends == null)
{
    <h2>Friends</h2>
    <p>Loading...</p>
}
else
{
    <h2><a href="/Child/@id">@CurrentChild.GivenName</a></h2>
}

@code {
    [Parameter]
    public int id { get; set; }
    Data.ChildDetails? CurrentChild;
    IEnumerable<Data.Person>? Friends;

    protected override void OnParametersSet()
    {
        if (Main.Family is not null)
        {
            CurrentChild = Main.Family.Children[id].ChildDetails;
            Friends = Main.Family.Children[id].Friends;
        }
    }

    private void SaveData()
    {
        try
        {
            if (Main.Family is not null)
                dal.SaveData(Main.Family);
            navigationManager.NavigateTo($"/child/{id}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.ToString());
        }
    }

}
