@page "/childDistinguishingFeatures/{id:int}"
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@* @using Microsoft.AspNetCore.Components.QuickGrid; *@
@inject Data.IDataAccess dal
@inject NavigationManager navigationManager

@if (CurrentChild == null || Features == null)
{
    <h2>Child Distinguishing Features</h2>
    <p>Loading...</p>
}
else
{
    <h2><a href="/Child/@id">@CurrentChild.GivenName</a></h2>
    @*   <QuickGrid Items="@Features">
    <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Description)" Sortable="true" />
  </QuickGrid>
 *@
    <button class="btn btn-primary" type="submit">Save</button>
}

@code {
    [Parameter]
    public int id { get; set; }
    Data.ChildDetails CurrentChild;
    IEnumerable<Data.DistinguishingFeature> Features;

    protected override void OnParametersSet()
    {
        CurrentChild = Main.Family.Children[id].ChildDetails;
        Features = Main.Family.Children[id].DistinguishingFeatures;
    }
}
