@page "/childDetails/{id:int}"
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@inject Data.IDataAccess dal
@inject NavigationManager navigationManager

@if (CurrentChild == null) {
  <h2>Contact Details</h2>
  <p>Loading...</p>
}
else {
  <h2>@CurrentChild.GivenName</h2>
  <EditForm Model="CurrentChild" OnSubmit="SaveData">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <table>
      <EditTextRow @bind-Value="CurrentChild.GivenName" />
      <EditTextRow @bind-Value="CurrentChild.NickName" />
      <EditTextRow @bind-Value="CurrentChild.AdditionalName" />
      <EditTextRow @bind-Value="CurrentChild.FamilyName" />
      <EditDateRow @bind-Value="CurrentChild.Birthday" />
      <EditTextRow @bind-Value="CurrentChild.PhoneNumber" />
    </table>
    <button class="btn btn-primary" type="submit">Save</button>
  </EditForm>
}

@code {
  [Parameter]
  public int id { get; set; }
  Data.ChildDetails CurrentChild;

  protected override void OnParametersSet() {
    CurrentChild = Main.Family.Children[id].ChildDetails;
  }

  private void SaveData() {
    dal.SaveData(Main.Family);
    navigationManager.NavigateTo("/kids");
  }
}
