@page "/"

<h1>Kids Id Kit</h1>

<div class="text-body">
<p></p>
<p>Compliments of <a href="https://missingchildrenmn.com">Missing Children Minnesota</a> and <a href="https://htbox.org">Humanitarian Toolbox</a>.</p>
</div>