@page "/info"

<h3>Information</h3>

<div><a class="link-primary" href="/info/abduction">Abduction</a></div>
<div><a class="link-primary" href="/info/abouthtbox">About Humanitarian Toolbox</a></div>
<div><a class="link-primary" href="/info/aboutmcm">About Missing Children Minnesota</a></div>
