@inherits TestContext

@code
{
    [Fact]
    public void ClickingHideButton_CollapsesMinnesotaSection()
    {
        // Arrange
        var cut = RenderComponent<Abductions>();
        var button = cut.Find("button.btn.btn-primary");

        // Act - click to hide
        button.Click();

        // Assert
        button = cut.Find("button.btn.btn-primary");
        button.MarkupMatches(@"<button class='btn btn-primary'>Show Minnesota-related information</button>");

        var collapseContainer = cut.Find(".collapse-container");
        Assert.DoesNotContain("expanded", collapseContainer.ClassList);
    }

    [Fact]
    public void ClickingShowButton_ExpandsMinnesotaSection()
    {
        // Arrange
        var cut = RenderComponent<Abductions>();
        var button = cut.Find("button.btn.btn-primary");

        // Act - click to hide, then click again to show
        button.Click();
        button = cut.Find("button.btn.btn-primary");
        button.Click();

        // Assert
        button = cut.Find("button.btn.btn-primary");
        button.MarkupMatches(@"<button class='btn btn-primary'>Hide Minnesota-related information</button>");

        var collapseContainer = cut.Find(".collapse-container");
        Assert.Contains("expanded", collapseContainer.ClassList);
    }
}
