@page "/SocialMediaAccountRemove/{childId:int}/{socialMediaAccountId:int}"

@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@using KidsIdKit.Shared.Data

@inject IDataAccess dal
@inject NavigationManager navigationManager

@if (CurrentChild == null)
{
    <h2>Child Details</h2>
    <p>Loading...</p>
}
else
{
    <h2>@CurrentChild.GivenName</h2>

    @* <div>Are you sure you want to remove this social media from the app?</div> *@

    <div class="alert-warning">@CurrentSocialMediaAccount!.Platform</div>
    <div>Are you sure you want to remove this social media account?</div>
    <div style="margin-top:10px">
        <button class="btn btn-primary" @onclick="NoCancel">No</button>
        <button class="btn btn-danger" @onclick="YesRemove">Yes</button>
    </div>
}
