@page "/info/abouthtbox"

<InfoPage />

<img src="ht-logo.png" alt="Humanitarian Toolbox" />

<h1>Humanitarian Toolbox</h1>

When disaster strikes, code saves lives.

<h2>Mission</h2>

<p>We connect people like you with organizations in need of your expertise. You can build the next generation of life-saving tools and refine them to meet new needs as they arise.  We maintain and deploy this "toolbox" of
    solutions quickly to get it in the hands of those making a difference. Everything we build is open-source and part of an open ecosystem so the tools can be adapted @InfoConstants.EM_DASH integrated and deployed to particular
    situations as they evolve.</p>
<p>
    @(HyperlinkHelper.LinkHelper.HtmlLink("Please join us", "http://www.htbox.org")) @InfoConstants.EM_DASH regardless of your experience in open source or whether you are or want to be a coder, tester, designer, or something
    else @InfoConstants.EM_DASH your skills can save lives!
</p>
<h2>How We Work</h2>
<h3>Creating Solutions</h3>
<p>Humanitarian Toolbox is a sustained effort to leverage technology and skilled volunteer communities to solve the needs of humanitarian and response organizations and communities affected by disasters.</p>
<h3>Building Together</h3>
<p>We strive to bring together the greatest diversity of contributors (across experience levels, opportunity, and disciplines) to grow their own skills while they design, code, test and deploy solutions for those affected by
    disasters.</p>
<h3>Delivering Impact</h3>
<p>Our "toolbox" of open solutions can enable responders and organizations to deliver humanitarian relief more efficiently and grow communities' access to information and resiliency as they prepare for, recover from and rebuild
    after disasters.</p>

<InfoPage />
