@page "/info"

<h1>Information</h1>

<div><a class="link-primary" href="/info/abduction">Abduction</a></div>
<div><a class="link-primary" href="/info/abouthtbox">About Humanitarian Toolbox</a></div>
<div><a class="link-primary" href="/info/aboutmcm">About Missing Children Minnesota</a></div>
<div><a class="link-primary" href="/info/amberalert">AMBER Alerts</a></div>
<div><a class="link-primary" href="/info/disasterpreparation">Disaster Preparation</a></div>
<div><a class="link-primary" href="/info/dna">DNA</a></div>
<div><a class="link-primary" href="/info/international">International Abduction</a></div>
