<div style="border-color:gray;border-width:2px">
    <textarea rows="10" @bind="Description" />
    <br/>
    <button class="btn btn-primary" @onclick="SaveAsync" title="Save"><i class="fas fa-save" /></button>
</div>

@code {
    [Parameter]
    public string Description { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<string> OnSaved { get; set; }
    [Parameter]
    public EventCallback OnCanceled { get; set; }

    private async Task SaveAsync()
    {
        await OnSaved.InvokeAsync(Description);
    }

    private async Task CancelAsync()
    {
        await OnCanceled.InvokeAsync();
    }
}
