@using Bunit.Diffing
@using KidsIdKit.Shared.Pages.info
@using KidsIdKit.Tests.Utilities

@inherits TestContext

@code
{
    [Fact]
    public void RendersInternationalInfoPage()
    {
        // Arrange
        string infoPage = HtmlHelper.GetInfoPageLink();

        string expectedMarkup = $@"{infoPage}
<h1>International Abductions</h1>
<p>If you believe that your child may be taken out of the country by their abductor, you will want to have these resources at the ready:</p>
<ol>
  <li>A court order that prohibits the child’s removal from the court’s jurisdiction.</li>
  <li>A list of phone numbers for the Airport Police at the airports where your child is most likely to be taken in order to leave the country.</li>
  <li>A list of the phone numbers for the Corporate Security Officers for the airlines that the other parent is most likely to use to leave the country.</li>
  <li>The numbers to the embassy offices where the other parent would most likely go to apply for a passport for your child.</li>
</ol>
<p>If your child is a U.S. Citizen under the age of 18, you can set up a Passport Issuance Alert to alert you if the abductor applies for a U.S. passport for your child.</p>
<table style=""padding-left: 20px; margin-left: 20px;"">
  <tbody>
    <tr>
      <td>
        Children’s Passport Issuance Alert Program (CPIAP)<br>
        Email Address:
        <a href=""mailto:preventabduction@state.gov"">preventabduction@state.gov</a>
        <br>
        Phone:
        <a href=""tel:+18884074747"">(888) 407-4747</a>
        <br>
        Fax: (202) 736-9133
      </td>
    </tr>
    <tr>
      <td>
        <hr>
      </td>
    </tr>
    <tr>
      <td>
        U.S. Department of State<br>
        Overseas Citizen Services, Office of Children’s Issues<br>
        2201 “C” Street NW<br>
        Washington, DC, 20520
      </td>
    </tr>
  </tbody>
</table>
<br>
<p>If the other parent is a citizen of another country, your child may have dual nationality. Contact the embassy of that country and inquire about their passport requirements for minors.</p>
<p>Call the State Department at
  <a href=""tel:+18884074747"">(888) 407-4747</a>
  and request help.</p>

    {infoPage}";

        // Act
        var cut = RenderComponent<International>();

        // Assert
        cut.MarkupMatches(expectedMarkup);
    }
}

// TODO: Art - rename 'International' to 'InternationalAbductions'