@inherits LayoutComponentBase
@using KidsIdKit.Core.Services
@inject ISessionService SessionService
@inject IPinService PinService
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @if (isLoading)
            {
                <div class="loading-container">
                    <p>Loading...</p>
                </div>
            }
            else if (!SessionService.IsUnlocked)
            {
                <PinEntry IsSetupMode="@isSetupMode" HasLegacyData="@hasLegacyData" OnUnlocked="OnUnlocked" OnSkipToInfo="OnSkipToInfo" />
            }
            else
            {
                @Body
            }
        </article>
    </main>
</div>



<style>
    .loading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
    }
</style>
