#--------------------------------------------------------------------------------------------------
# ci-build.yml
#
# This file defines a CI/CD workflow for building and testing a .NET project using GitHub Actions.
# It is a GitHub Actions workflow file for building and testing a .NET project.
# It is triggered on pushes and pull requests to the main branch.
# The workflow consists of a single job that runs on the latest Ubuntu environment.
#--------------------------------------------------------------------------------------------------

name: CI Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: 🚀 Build and Test .NET Project
    runs-on: ubuntu-latest

    env:
      ProjectFile: KidsIdKit.Core/KidsIdKit.Core.csproj
      TestProjectFile: KidsIdKit.Tests/KidsIdKit.Tests.csproj

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '9.0.x'

      - name: 📦 Restore project dependencies and tools
        run: dotnet restore $ProjectFile

      - name: Build project and all of its dependencies 🔨
        run: dotnet build $ProjectFile --configuration Release --no-restore

      - name: Run tests 🧪
        run: dotnet test $TestProjectFile --verbosity normal
