@page "/Feature/{childId:int}/{featureId:int}"

@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;

@inject Data.IDataAccess dal
@inject NavigationManager NavigationManager

@if (CurrentChild == null || DistinguishingFeature == null)
{
    <h2>Distinguishing Feature</h2>
    <p>Loading...</p>
}
else
{
    <h2><a href="/Child/@childId">@CurrentChild.GivenName</a></h2>
    <p></p>
    <h3>Distinguishing Feature</h3>
    <p></p>
    <EditForm Model="DistinguishingFeature" OnSubmit="SaveData">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <table>
            <EditTextRow @bind-Value="DistinguishingFeature.Description" />
            <tr>
                <td>
                    Photo:
                    @if (!SelectingImage)
                    {
                        <br />

                        <br />
                        @if (!string.IsNullOrWhiteSpace(DistinguishingFeature.Photo.ImageSource))
                        {
                            <button class="btn btn-link" type="button" @onclick="() => SelectingImage = true">Change photo</button>
                        }
                        else
                        {
                            <button class="btn btn-link" type="button" @onclick="() => SelectingImage = true">Add photo</button>
                        }
                    }
                </td>
                <td>
                    @if (SelectingImage)
                    {
                        <PhotoPicker Complete="(p) =>
                            {
                                DistinguishingFeature.Photo = p;
                                SelectingImage = false;
                            }"
                                     Cancel="() => SelectingImage = false" />
                    }
                    else
                    {
                        @if (!string.IsNullOrWhiteSpace(DistinguishingFeature.Photo.ImageSource))
                        {
                            <div>
                                <img src="@DistinguishingFeature.Photo.ImageSource" title="Photo of child" alt="Photo of child" />
                            </div>
                        }
                    }
                </td>
            </tr>
        </table>
        <div>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int childId { get; set; }
    [Parameter]
    public int featureId { get; set; }

    Data.ChildDetails? CurrentChild;
    Data.DistinguishingFeature? DistinguishingFeature;
    private bool SelectingImage;

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(DataStore.Family);
        CurrentChild = DataStore.Family.Children[childId].ChildDetails;

        if (featureId == -1)
        {
            DistinguishingFeature = new Data.DistinguishingFeature();
            if (DataStore.Family.Children[childId].DistinguishingFeatures.Count == 0)
            {
                DistinguishingFeature.Id = 0;
            }
            else
            {
                DistinguishingFeature.Id = DataStore.Family.Children[childId].DistinguishingFeatures.Max(r => r.Id) + 1;
            }
        }
        else
        {
            DistinguishingFeature = DataStore.Family.Children[childId].DistinguishingFeatures[featureId];
        }
    }

    private void SaveData()
    {
        try
        {
            if (DataStore.Family is not null && DistinguishingFeature is not null)
            {
                if (featureId == -1)
                {
                    DataStore.Family.Children[childId].DistinguishingFeatures.Add(DistinguishingFeature);
                }
                dal.SaveDataAsync(DataStore.Family);
            }
            NavigationManager.NavigateTo($"/childDistinguishingFeatures/{childId}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.ToString());
        }
    }
}
